* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, rgb(255, 240, 74) 90%);
}

.fa-star,
.fa-star-half {
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}

.img-fluid{
    height: 300px;
    width: 300px;
    max-width: 100%;
    object-fit: cover;
}

.shopping-cart{
    padding:3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 8% 2%;
}

.cart-items {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}


.col-md-7{
    padding-right: 40px;
}

